@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  --blue: #0d274d;
  --gray: #edeff1;
  --green: #71b84e;
  --white: #f9fcff;
  --border-color: #f9f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: var(--gray);
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  color: var(--blue);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

nav ul {
  position: absolute;
  width: 100%;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav li {
  color: var(--white);
}

header,
section {
  width: 100%;
  min-height: 95vh;
  padding: 1em;
}

header {
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
header > div {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header > div > div {
  padding-top: 2em;
}
header h1 {
  font-size: 2.1rem;
  margin-bottom: 0.4em;
  line-height: 1.2em;
}

.button {
  display: inline-block;
  color: var(--white);
  background: var(--blue);
  width: 170px;
  border-radius: 14px;
  padding: 0.4em;
  font-weight: bold;
  margin: 0 1em;
  text-align: center;
}
.white {
  background: var(--gray);
  color: var(--blue);
}
.green {
  background-color: var(--green);
}

.row {
  display: grid;
  grid-gap: 1rem;
}
.row > div {
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about .row {
  padding: 1em;
}
#about .image {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 10px 10px var(--blue);
  margin-bottom: 1em;
}
#about p {
  width: clamp(50%, 500px, 100%);
  max-width: 900px;
  padding-left: 1em;
}

p {
  text-indent: 1em;
}

.title {
  height: 50px;
  display: flex;
  align-items: center;
}
.title img {
  object-fit: contain;
  width: 50px;
}

#planning .content {
  width: 80%;
  margin: 0 auto;
}
#planning p {
  width: 30%;
  text-align: center;
  font-size: 0.7rem;
}
#planning .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 0.3em;
  color: var(--blue);
  font-size: 1.1rem;
  font-weight: bold;
}

@media (min-width: 600px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
  header > div {
    width: 80%;
  }

  #planning p {
    width: 20%;
    font-size: 1rem;
  }
}
